footer {
  width: 100%;
  padding: 20px 30px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-col h4 {
  margin-bottom: 10px;
  color: #f8f1f1;
}

.social-links {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}

.social-links a {
  display: inline-block; 
  margin: 0 10px; 
  transition: transform 0.3s ease; 
}

.social-links img {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
}

.social-links a:hover {
  transform: scale(1.1);
}

small {
  color: #f8f1f1;
  text-align: center;
  margin-top: 10px;
}

